.input-group {
    margin-bottom: 25px !important;
}
.input-group-text {
    color: aliceblue !important;
    background-color: #219EBC !important;
}
.upload-title {
    color: #FB8500;
    margin-bottom: 15px;
}
.list-group-item {
    background-color: transparent !important;
    color: #FB8500 !important;
}
.alarms-list-container {
    position: relative;
    max-height: 200px;  /* 设置最大高度 */
    max-width: 400px;   /* 设置最大宽度 */
    margin: 0 auto;     /* 居中 */
    overflow-y: auto;   /* 使内容在超过高度时滚动 */
}