.App {
  text-align: center;
}

.App-header {
  background-color: #1b4965;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.mode-buttons {
  width: 20vw;
  position: absolute;
  right: 17vw;
  top: 44vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.mode-buttons button {
  width: 14vw;
  margin: 10px 0;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border: none;
  outline: none;
  background-color: #cae9ff;
  color: #1b4964;
  border-radius: 0;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mode-buttons button:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.5);
}

.mode-buttons button:active {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transform: translateY(0);
  background-color: #bee9eb;
  color: #1b4964;
}

.mode-buttons button.active {
  background-color: #bee9eb;
  width: 18vw;
  color: #1b4964;
}

.mode-buttons .btn-tools {
  width: 10vw;
  margin: 10px 0;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border: none;
  outline: none;
  background-color: #cae9ff;
  color: #1b4964;
  border-radius: 0;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.components-container {
  height: 90vh;
  width: 70%;
  position: relative;
  z-index: 0;
}

.btn-secondary {
  font-size: 18px !important;
  color: #001219 !important;
  background-color: #ffb703 !important;
}
